* {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 50px;
}

.bg-primary-dark {
  background-color: #172b4d !important;
}

.bg-primary-light {
  background-color: #5e72e4 !important;
}

.bg-secondary {
  background-color: #11cdef;
}

.white {
  color: white !important;
}

.dark {
  color: #172b4d !important;
}

@media (min-width: 400px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 17px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 25px;
  }
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}

.banner-section {
  min-height: 100px;
  width: 100%;
}

.banner-section .content-banner {
  color: white;
  border-radius: 100px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.image-card {
  height: 130px;
  width: 100%;
}

.section-who-we-are {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 25px;
  min-height: 200px;
}

.section-who-we-are .image-who-we-are {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.footer {
  min-height: 400px;
  padding-top: 100px;
}

.footer h3 {
  color: white;
}

.footer h6 {
  color: white;
}

.footer p {
  color: white;
}

.footer a {
  text-decoration: none;
  font-style: none;
  color: white;
}

.footer .social-media {
  margin-left: -30px;
}

.footer .social-media li {
  text-decoration: none;
  list-style: none;
}

.contact-us-section {
  margin-top: 100px;
  margin-bottom: 50px;
}

.section-division {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-division .card {
  text-decoration: none;
  min-width: 250px;
  min-height: 250px;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-division .card h4 {
  color: #32325D;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-division .card:hover {
  background-color: #32325D;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-division .card:hover h4 {
  color: white;
}

.section-project {
  margin-top: 100px;
}

.section-project a {
  text-decoration: none;
}

.section-project .card {
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 0;
  margin-bottom: 0;
}

.section-project .card:hover {
  margin-top: -20px;
  margin-bottom: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer {
  background-color: #32325D;
}

.bottom-footer {
  height: 50px;
  background-color: #262831;
}

.bottom-footer p {
  padding-top: 10px;
}
/*# sourceMappingURL=styles.css.map */